@* @model IEnumerable<TruongABC_PhamQuangSang.Models.TinTuc> *@
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col w-full">
    <div class="w-full h-40 text-center bg-cyan-200">
        <div class="text-3xl">Banner</div>
    </div>
    <div class="w-full flex flex-row">
        <div class="flex flex-col w-3/4">
            <h1 class="text-2xl border-b-2 border-black ps-5 mx-5 mb-3">Tin tức</h1>
            <div>

            </div>
        </div>
    </div>
</div>
