@{
    ViewData["Title"] = "Quản trị";
}
<a asp-controller="CRUD" asp-action="TinTuc">Test</a>
<div class="w-full flex flex-col">
    <div class="banner w-full h-40 text-center">Banner</div>
    <div class="flex flex-row w-full pt-3">
        <div class="w-1/4">
            <div class="w-full h-full bg-gray-200">
                Menu
            </div>
        </div>
        <div class="w-3/4">
            <h1 class="text-3xl font-bold">Quản trị</h1>
            <span class="pt-5"> Không có gì ở đây cả</span>
        </div>
    </div>
</div>